<div class="container-flex">
    <div><img src="/assets/img/burger.png" height= "300px" width="300px"></div>

    <h1>Eat-Da-Burger!</h1>

    <div class="row d-flex burger-div">
        <div class="col">
            <ul id="burgers-to-devour">
                
            </ul>
        </div>
    </div>



</div>